@font-face {
  font-family: "MontserratArabic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/Montserrat-Arabic-Regular.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#LoginBackground {
  position: fixed;
  inset: 0;
}

#LoginBackground::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#LoginBackground img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
